/*General*/

@font-face {
  src: url(../fonts/EBGaramond-BoldItalic.ttf);
  font-family:EBGaramond-BoldItalic;
}

h4{
   font-family:Helvetica,serif;
   color:white;
   text-align:center;
   text-decoration:underline;
   
    }
div.ptitle{
           width:300px;
           margin:auto;
           }
div.ptitle h2{
             text-align:center;
             font-family:EBGaramond-BoldItalic,Helvetica,serif;
             color:#483d8b;
             text-decoration:underline;
             font-weight:bold;
             font-style:italic;
             }

figcaption.caption{
             font-family:Helvetica,Verdana,serif;
             font-size:10px;
             color:white;
             text-align:center;
             }


/*Facepacks Table*/
table{
     width:850px;
     margin:auto;
     border-collapse:collapse;
     }
td,th{
      border:solid 3px #483d8b ;
      }
   th{
    font-family:Baskerville,serif;
    font-size:20px;
    color:#483d8b;
    }
td{
  font-family:Helvetica,Verdana,serif;
  font-size:15px;
  color:white;
  }
td.product{
      width:250px;
      height:300px;
         }
td.ing{
      width:200px;
      height:300px;
       }
td.use{
      width:400px;
      height:300px;
      }
td.price{
      width:300px;
      height:300px;
      }
div.product,div.ing,div.price{
      margin:auto;
      text-align:center;
     }
div.use{
       margin:auto;
       text-align:left;
      }
tr.products{
  background-image:linear-gradient(180deg,#dda0dd,#ba55d3,#9932cc);
  }
 
/*Creams Table*/
td.c_ing{
        width:210px;
        height:300px;
        }  
div.c_ing{
      margin:auto;
      text-align:center;
      }
div.cs_ing{
      margin:auto;
      text-align:left;
      padding-left:5px;
      }

ol.c_ing{
    list-style-type:upper-roman;
      }
li.c_ing{
      margin-bottom:8px;
      }

/*Hair Care Table*/

td.h_ing{
        width:210px;
        height:300px;
        }  
div.h_ing{
      margin:auto;
      text-align:center;
      }
div.hh_ing,div.h_price{
      margin:auto;
      text-align:left;
      }

ol.h_ing,ol.h_price{
    list-style-type:upper-roman;
      }
ol.h_ing li,ol.h_price li{
      margin-bottom:8px;
      }

div.footer{
         width:1200px;
         margin:20px;
         margin:auto;
         }


/*Animation_Soaps*/

@keyframes anim_soap {
    0% {
      filter:opacity(100%);
      -webkit-filter:opacity(100%);
       transform:translateX(800px);
       -webkit-translateX(800px);
       }
    50%{
        background-image:url(../Images/soap2_nb.png);
        filter:opacity(100%);
        -webkit-filter:opacity(100%);
        transform: translateX(1000px);
        -webkit-transform:translateX(1000px);
       }
   100%{
        background-image:url(../Images/soap2_nb.png);
        filter:opacity(100%);
        -webkit-filter:opacity(100%);
        transform: skewY(30deg) translate(1320px,300px);
        -webkit-transform: skewY(30deg) translate(1320px,300px);
        }

  }

div.soap {
    width:150px; 
    height:150px; 
    background-image:url(../Images/soap1.png);
    animation-name: anim_soap;
    animation-duration:3s;
    animation-iteration-count:2;
    filter:opacity(0%);
    -webkit-filter:opacity(0%);
    }

     




