
section{
        margin:auto;
       }
 div{
    width:510px;
    padding:10px;
    margin:auto;
    border:solid 2px #1F456E;
    }
div.text{
    height:100px;
    background-color:#016064;
    color:white;
     border-bottom:none;
    }

div.image{
     margin:auto;
     height:110px;
     background-color:#757c88;
     border-bottom:dashed 2px orange;
     }
p{
  text-align:left;
  font-family:Helvetica;
  font-size:18px;
  }
div.vid p{
   text-align:center; 
   text-decoration:underline; 
   color:purple;
   }
span{
    color:orange;
    font-style:italic;
    }



